<ng-container *ngIf="showNavbar()"

>
<nav class="navbar-container">

    <img src="assets/images/mobicloud.jpg" alt="logo" class="navbar-logo" />
    <ul class="navbar-list">
        <li>Home</li>
        <li>Features</li>
        <li>About Us</li>
        <li>Pricing</li>
        <li>Blog</li>
        <li>Partners</li>
    </ul>
    <ul class="navbar-list">
        <li><a [routerLink]="['/signin']" >Sign In</a></li>
        <li><button class="navbar-btn" >Get Started</button></li>
    </ul>
</nav>
</ng-container>
<router-outlet></router-outlet>